#inputWrap {
    margin: auto;
    padding: 10px;
    width: 60%;
}

#generateButtonWrap {
    text-align: center;
    margin-top: 10px;
}

.MuiTable-root.student-list {
    margin-top: 5%;
  }

#resultWrap {
    width: 60%;
    margin: auto;
    margin-top: 5px;
}